/*.gold, .gold small {
  background-color: gold;
  color: #403600;
}

.silver, .silver small {
  background-color: silver;
  color: #404040;
}

.oil, .oil small {
  background-color: black;
  color: #E5E5E5;
}*/

div.bg-0, div.bg-5 {
  background-color: #ff706b;
}

div.bg-1, div.bg-6 {
  background-color: #ffedad;
}

div.bg-2, div.bg-7 {
  background-color: #95ccb2;
}

div.bg-3 {
  background-color: #ffcc5e;
}

div.bg-4 {
  background-color: #87d6af;
}

html, body, .container-fluid {
  height: 100%;
}

.row {
  /*height: 33.33333333%;*/
}

.price {
  padding-right: 5px;
}

/* Add a ( before the change */
.change::before {
  content: '(';
}

/* Add a ) after the change */
.change::after {
  content: ')';
}

/* Add a $ before the price */
.price::before {
  content: '$';
}

/* Hide the price and change when they are empty */
.change:empty, .price:empty {
  display: none;
}
